*
{
    box-sizing: border-box;
    font-family: "Segoe UI";
}

@font-face{
    font-family: "Segoe UI";
    src: url("./../fonts/SegoeUI.ttf") format("truetype");
}

div.content {
    display: block;

    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    background-color: white;

    padding: 30px;

    border-radius: 15px;

}