

app-printers, div[data-is=app-printers] div.content
{
    text-align: center;        

}

app-printers, div[data-is=app-printers] div#selector
{
    height: 34px;
    position: absolute;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media screen and (max-width: 616px)
{
    app-printers, div[data-is=app-printers] div#selector
    {
        top: 130px;
    }
}

app-printers, div[data-is=app-printers] div#selector>span 
{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    line-height: 34px;
    margin-right: 10px;   
}  

app-printers, div[data-is=app-printers] div#selector>span:nth-of-type(2)
{
    margin-left: 10px;   
}  




app-printers, div[data-is=app-printers] div.printer
{
    display: inline-block;
    position: relative;

    width: 150px;
    height: 150px;

    text-align: center;

    border-radius: 15px;

    margin-right: 20px;
    margin-bottom: 20px;

    box-shadow: 0px 5px 5px 5px rgba(230, 232, 232, 0.2);

    transition: all 0.2s ease;
}

app-printers, div[data-is=app-printers] div.printer:hover 
{
    transform: scale(1.1, 1.1);
}

app-printers, div[data-is=app-printers] div.printer.available
{
    background-color: rgb(112, 179,67);
}

app-printers, div[data-is=app-printers] div.printer.unavailable
{
    background-color: #F43334;
}

app-printers, div[data-is=app-printers] div.printer.hs
{
    /*border: 1px solid rgb(246,247,247);*/
    background-color: rgba(206,207,207);
}


app-printers, div[data-is=app-printers] div.printer div.core 
{
    width: 100%;
    height: 70px;

    color: white;
    padding: 30px;
    padding-top: 15px;

}


app-printers, div[data-is=app-printers] div.printer.hs div.core
{
    color: inherit;
}


app-printers, div[data-is=app-printers] div.printer div.footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    min-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;

    color: white;
    
}

app-printers, div[data-is=app-printers] div.printer.available div.footer
{
    background-color: rgba(87,155,40);
}

app-printers, div[data-is=app-printers] div.printer.unavailable div.footer
{
    background-color: #A82324;
}

app-printers, div[data-is=app-printers] div.printer.hs div.footer
{
    background-color: rgba(146,147,147);
}